In [154]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [155]:
heartDiseaseDataset = pd.read_csv('./Heart Disease.csv')

heartDiseaseDataset
# input_column
# result_column

,gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart Disease (in next 10 years)
0,Male,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,Female,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,Male,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,Female,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,Female,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,Female,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,Female,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,Female,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,Male,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,Female,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

Data Processing

In [156]:
#checking null values
x = heartDiseaseDataset.isnull().sum()
print(x)

gender                                0
age                                   0
education                           105
currentSmoker                         0
cigsPerDay                           29
BPMeds                               53
prevalentStroke                       0
prevalentHyp                          0
diabetes                              0
totChol                              50
sysBP                                 0
diaBP                                 0
BMI                                  19
heartRate                             1
glucose                             388
Heart Disease (in next 10 years)      0
dtype: int64

In [ ]:
#data processing

heartDiseaseDataset['education'].fillna(heartDiseaseDataset['education'].mode()[0], inplace=True)

# deleting invalid rows (two ways)
heartDiseaseDataset = heartDiseaseDataset[heartDiseaseDataset['glucose'].notnull()]
# heartDiseaseDataset = heartDiseaseDataset.dropna(axis=0, subset=['glucose'])


# heartDiseaseDataset = heartDiseaseDataset[heartDiseaseDataset['heartRate'].notnull()]


heartDiseaseDataset['education'].fillna(heartDiseaseDataset['education'].mode()[0], inplace=True)

heartDiseaseDataset['cigsPerDay'].fillna(heartDiseaseDataset['cigsPerDay'].mean(), inplace=True)
heartDiseaseDataset['totChol'].fillna(heartDiseaseDataset['totChol'].mean(), inplace=True)
heartDiseaseDataset['BMI'].fillna(heartDiseaseDataset['BMI'].mean(), inplace=True)
heartDiseaseDataset['heartRate'].fillna(heartDiseaseDataset['heartRate'].mean(), inplace=True)
# heartDiseaseDataset['glucose'].fillna(heartDiseaseDataset['glucose'].median(), inplace=True)
heartDiseaseDataset['BPMeds'].fillna(0, inplace=True) #assuming NA == 0

C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartDiseaseDataset['education'].fillna(heartDiseaseDataset['education'].mode()[0], inplace=True)
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartDiseaseDataset['education'].fillna(heartDiseaseDataset['education'].mode()[0], inplace=True)
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heartDiseaseDataset['education'].fillna(heartDiseaseDataset['education'].mode()[0], inplace=True)
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartDiseaseDataset['cigsPerDay'].fillna(heartDiseaseDataset['cigsPerDay'].mean(), inplace=True)
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heartDiseaseDataset['cigsPerDay'].fillna(heartDiseaseDataset['cigsPerDay'].mean(), inplace=True)
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartDiseaseDataset['totChol'].fillna(heartDiseaseDataset['totChol'].mean(), inplace=True)
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heartDiseaseDataset['totChol'].fillna(heartDiseaseDataset['totChol'].mean(), inplace=True)
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartDiseaseDataset['BMI'].fillna(heartDiseaseDataset['BMI'].mean(), inplace=True)
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heartDiseaseDataset['BMI'].fillna(heartDiseaseDataset['BMI'].mean(), inplace=True)
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartDiseaseDataset['heartRate'].fillna(heartDiseaseDataset['heartRate'].mean(), inplace=True)
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heartDiseaseDataset['heartRate'].fillna(heartDiseaseDataset['heartRate'].mean(), inplace=True)
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartDiseaseDataset['BPMeds'].fillna(0, inplace=True) #assuming NA == 0
C:\Users\CheeyChimkn\AppData\Local\Temp\ipykernel_2376\4092769729.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heartDiseaseDataset['BPMeds'].fillna(0, inplace=True) #assuming NA == 0

In [158]:
heartDiseaseDataset

,gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart Disease (in next 10 years)
0,Male,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,Female,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,Male,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,Female,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,Female,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4234,Male,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,Female,48,2.0,1,20.0,0.0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4237,Female,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,Male,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,Female,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [159]:
x = heartDiseaseDataset.isnull().sum()
print(x)

gender                              0
age                                 0
education                           0
currentSmoker                       0
cigsPerDay                          0
BPMeds                              0
prevalentStroke                     0
prevalentHyp                        0
diabetes                            0
totChol                             0
sysBP                               0
diaBP                               0
BMI                                 0
heartRate                           0
glucose                             0
Heart Disease (in next 10 years)    0
dtype: int64

In [160]:
from sklearn.model_selection import train_test_split

In [161]:
input_column = heartDiseaseDataset.drop(columns=['Heart Disease (in next 10 years)'])
result_column = heartDiseaseDataset['Heart Disease (in next 10 years)']

In [162]:
# data splitting
training_data, test_data, training_result, test_result = train_test_split(input_column, result_column, test_size=0.25, random_state=0)